<section class="container mt-5 tickets_container" style="background-color: transparent;">
  <div class="tool_selector d-flex justify-content-between mb-3">
    <div class="select_all d-flex align-items-center " style="gap:8px;">
      <input type="checkbox" class="select_all_check" name="select_all_check" style="height:20px;width: 16px;">
      <label for="select_all_check">Select all</label>
    </div>
    <div class="filter_export_container">
      <div class="export_table d-flex" style="gap: 16px;">
        <button type="button" (click)="refreshItemList()"><fa-icon [icon]="faSyncAlt"
            style="margin-right: 8px;"></fa-icon>Reload</button>
        <button type="button" (click)="AddActivity()">+ Send email</button>
        <button type="button" (click)="createFBPost()">+ Create FB Post</button>
        <button type="button" (click)="postYTVideo()">+ Post YT Video</button>
      </div>
      <div class="filter_ticket">

      </div>
    </div>
  </div>
  <div *ngIf="loading" class="table-wrapper" style="position: relative;">
    <div class="spinner-wrapper">
      <div class="spinner-border" role="status">
        <span class="sr-only"></span>
      </div>
    </div>
</div>
  <table class="table table-bordered table-striped" datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger">
    <thead>
      <tr>
        <th scope="col" [ngClass]="getSortClass('id')" (click)="sort('id')">ID</th>
        <th scope="col" [ngClass]="getSortClass('title')" (click)="sort('title')">Title</th>
        <th scope="col" [ngClass]="getSortClass('type')" (click)="sort('type')">Type</th>
        <th scope="col" [ngClass]="getSortClass('comment')" (click)="sort('comment')">Content</th>
        <!-- <th scope="col" class="border-left-0 border-top-0 border-bottom-0 border-secondary border-1">Schedule From</th>
            <th scope="col" class="border-left-0 border-top-0 border-bottom-0 border-secondary border-1">Schedule To</th> -->
        <th scope="col" [ngClass]="getSortClass('isDone')" (click)="sort('isDone')">isDone</th>
        <th scope="col" [ngClass]="getSortClass('location')" (click)="sort('location')">Location</th>
        <th scope="col" [ngClass]="getSortClass('sendToEmail')" (click)="sort('sendToEmail')">Send to</th>
        <th scope="col">Action</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let item of filteredItems;let i = index">
        <td><a href="#">{{i+1}}</a></td>
        <td><a>{{item.title}}</a></td>
        <td>{{item.type}}</td>
        <td>{{item.comment}}</td>
        <td>{{item.isDone}}</td>
        <td>{{item.location}}</td>
        <td>{{item.sendToEmail}}</td>
        <!-- <td>{{item.lostReason}}</td>
                <td>{{item.closedAt}}</td> -->
        <td class="d-flex" style="gap: 6px;border: none;">
          <button class="delete-btn btn btn-danger" (click)="openDeleteConfirmation(item.id)"><svg width="13" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512"><!--!Font Awesome Free 6.6.0 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2024 Fonticons, Inc.--><path fill="#fff" d="M432 32H312l-9.4-18.7A24 24 0 0 0 281.1 0H166.8a23.7 23.7 0 0 0 -21.4 13.3L136 32H16A16 16 0 0 0 0 48v32a16 16 0 0 0 16 16h416a16 16 0 0 0 16-16V48a16 16 0 0 0 -16-16zM53.2 467a48 48 0 0 0 47.9 45h245.8a48 48 0 0 0 47.9-45L416 128H32z"/></svg></button>
        </td>
      </tr>
    </tbody>
  </table>
</section>
