<div class="service_card container">
    <div class="row service_card__container">
        <a href="/home/service-catalog" class=" service_card__item text-decoration-none d-flex justify-content-center align-items-center">
            <img src="../../assets/Icon.svg" alt="" width="64px" >
            <div class="service_card__item__content d-flex flex-column">
                <p class="service_card__item__content__title m-0 fw-bold">Request a service</p>
                <p class="service_card__item__content__desc m-0">Browse the list of services offered and raise a request</p>
            </div>
        </a>
        <a (click)="openAddTicketModal()" class=" service_card__item text-decoration-none d-flex justify-content-start align-items-center">
            <img src="../../assets/Icon.svg" alt="" width="64px" >
            <div class="service_card__item__content d-flex flex-column">
                <p class="service_card__item__content__title m-0 fw-bold">Send a ticket</p>
                <p class="service_card__item__content__desc m-0">Send a ticket for any concerns</p>
            </div>
        </a>
        <!-- <a href="#" class=" service_card__item text-decoration-none d-flex justify-content-center align-items-center">
            <img src="../../assets/Icon.svg" alt="" width="64px" >
            <div class="service_card__item__content d-flex flex-column">
                <p class="service_card__item__content__title m-0 fw-bold">Request a service</p>
                <p class="service_card__item__content__desc m-0">Browse the list of services offered and raise a request</p>
            </div>
        </a>
        <a href="#" class=" service_card__item col-lg-4 col-md-6 col-12 text-decoration-none d-flex justify-content-center align-items-center">
            <img src="../../assets/Icon.svg" alt="" width="64px" >
            <div class="service_card__item__content d-flex flex-column">
                <p class="service_card__item__content__title m-0 fw-bold">Request a service</p>
                <p class="service_card__item__content__desc m-0">Browse the list of services offered and raise a request</p>
            </div>
        </a>
        <a href="#" class=" service_card__item col-lg-4 col-md-6 col-12 text-decoration-none d-flex justify-content-center align-items-center">
            <img src="../../assets/Icon.svg" alt="" width="64px" >
            <div class="service_card__item__content d-flex flex-column">
                <p class="service_card__item__content__title m-0 fw-bold">Request a service</p>
                <p class="service_card__item__content__desc m-0">Browse the list of services offered and raise a request</p>
            </div>
        </a>
        <a href="#" class=" service_card__item col-lg-4 col-md-6 col-12 text-decoration-none d-flex justify-content-center align-items-center">
            <img src="../../assets/Icon.svg" alt="" width="64px" >
            <div class="service_card__item__content d-flex flex-column">
                <p class="service_card__item__content__title m-0 fw-bold">Request a service</p>
                <p class="service_card__item__content__desc m-0">Browse the list of services offered and raise a request</p>
            </div>
        </a> -->
    </div>
</div>