*{
    margin: 0;
    padding:0;
    box-sizing: border-box;    
    
}


section{
    background-color: #ebeff3;  
}

li{
    list-style: none;
}

.dt-length{
    display: flex;
    gap: 8px;

    label{
        padding-top: 4px;
    }
}

.table-wrapper {
    position: relative;
    height: 500px;
}
  
.spinner-wrapper {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 10;
}

th{
    text-align: center!important;
}

.modal-dialog{
    min-width: 700px;
}