<section class="container mt-5 tickets_container" style="background-color: transparent;">
    <div class="tool_selector d-flex justify-content-between mb-3">
        <div class="select_all d-flex align-items-center " style="gap:8px;">
            <input type="checkbox" class="select_all_check" name="select_all_check" style="height:20px;width: 16px;">
            <label for="select_all_check">Select all</label> 
        </div>
        <div class="filter_export_container">
            <div class="filter_export_container">
                <div class="export_table">
                    <button type="button" (click)="AddContact()">+ Add User</button>
                </div>
                <div class="filter_ticket">
    
                </div>
            </div>
        </div>
    </div>
    <div *ngIf="loading" class="table-wrapper" style="position: relative;">
        <div class="spinner-wrapper">
          <div class="spinner-border" role="status">
            <span class="sr-only"></span>
          </div>
        </div>
    </div>
    <table class="table table-bordered table-striped" datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger">
        <thead>
            <tr>
                <th scope="col">ID</th>
                <th scope="col">Name</th>
                <th scope="col">Email</th>
                <th scope="col">Phone</th>
                <th scope="col">Updated at</th>
                <th scope="col">Image</th>
                <th scope="col">Role</th>
                <th scope="col">Action</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let item of items;let i = index">
                <td>{{item.role !== 1 ? i + 1 : ''}}</td>
                <td>{{item.role !== 1 ? (item.firstName + " " + item.lastName) : ''}}</td>
                <td>{{item.role !== 1 ? item.email : ''}}</td>
                <td>{{item.role !== 1 ? item.phoneNumber : ''}}</td>
                <td>{{item.role !== 1 ? item.updatedAt : ''}}</td>
                <td>
                    <a *ngIf="item.role !== 1" [href]="getImagePath(item.imageFile)" target="_blank">
                        <img width="80px" height="80px" [src]="getImagePath(item.imageFile)" alt="">
                    </a>
                </td>
                <td>{{item.role !== 1 ? (item.role === 0 ? 'User' : 'Staff') : ''}}</td>
                <td class="action-buttons-container" style="gap: 6px; border: none;">
                    <div class="action-buttons d-flex" style="gap: 12px;" *ngIf="item.role !== 1">
                        <button class="delete-btn btn btn-danger" (click)="openDeleteConfirmation(item.id)">Delete</button>
                        <button class="update-btn btn btn-primary" (click)="openUpdateModal(item.id)">Update</button>
                    </div>
                </td>
            </tr>
        </tbody>
    </table>
</section>