  <section
    class="service_catalog_component w-100 d-flex justify-content-center flex-column"
  >
    <div class="service_catalog_component__container container p-0">
      <div
        class="service_catalog_component__introduction d-flex align-items-center mt-3"
      >
        <img src="../../assets/Icon.svg" alt="" width="64px" />
        <div
          class="service_catalog_component__introduction__content d-flex flex-column align-items-start justify-content-center"
        >
          <h1 class="service_catalog_component__introduction__title m-0">
            Service Catalog
          </h1>
          <p class="service_catalog_component__introduction__desc m-0">
            Browse the list of services offered and raise a request.
          </p>
        </div>
      </div>
    </div>
    <div class="service_catalog_component__items container pt-4">
      <div class="row">
        <ul
          class="col-lg-3 service_catalog_component__items__category d-flex flex-column justify-content-start align-items-start"
        >
          <li class="active w-100">All Service Items</li>
          <!-- <li>All Service Items</li>
          <li>All Service Items</li>
          <li>All Service Items</li> -->
        </ul>
        <div
          class="col-lg-9 container"
          style="padding-right: 16px; border-left: 0.5px solid #ccc"
        >
          <p class="fw-bold text-uppercase" style="color: #757373">
            All service items
          </p>
          <div
            class="row d-flex justify-content-start"
            style="gap: 20px; padding-left: 16px"
          >
            <div
              class="col-lg-4 col-md-6 col-12 text-decoration-none service_catalog_component__item d-flex"
              *ngFor="let item of items"
              data-toggle="modal" 
              [attr.data-target]="'#' + item.id"
            >
              <img src="../../assets/Icon.svg" alt="" width="64px" />
              <div
                class="service_catalog_component__item__content d-flex flex-column align-items-start justify-content-center"
              >
                <h1 class="service_catalog_component__item__title m-0">
                  {{ item.productName }}
                </h1>
                <p class="service_catalog_component__item__desc m-0">
                  {{ item.description }}
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>