<section class="new_ticket_container container mt-3 mb-3" style="background-color: #fff;">
    <form class="form-control d-flex flex-column justify-content-center new_ticket_form w-100 border-0">
        <h4 class="mb-2 mt-2">Update Contact</h4>
        <div class="form-group d-flex flex-column">
            <label for="first_name">First name <span class="text-danger">(*)</span></label>
            <input type="text" name="first_name" class="new_ticket_form__input w-75" [(ngModel)]="firstName">
        </div>
        <div class="form-group d-flex flex-column">
            <label for="last_name">Last name <span class="text-danger">(*)</span></label>
            <input type="text" name="last_name" class="new_ticket_form__input w-75" [(ngModel)]="lastName">
        </div>
        <div class="form-group d-flex flex-column">
            <label for="email">Email <span class="text-danger">(*)</span></label>
            <input type="email" name="email" class="new_ticket_form__input w-75" [(ngModel)]="email">
        </div>
        <div class="form-group d-flex flex-column">
            <label for="phoneNumber">Phone <span class="text-danger">(*)</span></label>
            <input type="text" name="phoneNumber" class="new_ticket_form__input w-75" [(ngModel)]="phoneNumber">
        </div>
        <div class="form-group d-flex flex-column">
            <label for="role">Role <span class="text-danger">(*)</span></label>
            <input type="text" name="role" class="new_ticket_form__input w-75" [(ngModel)]="role">
        </div>
        <!-- <div class="form-group d-flex flex-column">
            <label for="sendToEmail">Send to email <span class="text-danger">(*)</span></label>
            <input type="text" name="sendToEmail" class="new_ticket_form__input w-75" [(ngModel)]="sendToEmail">
        </div> -->
        <input type="file" style="outline: 0;" class="border-0 p-0" (change)="onImageChange($event)" accept="image/*" #imageFile>
            <div *ngIf="imageError" class="error-message">
                Image size cannot exceed 10MB. Please choose a smaller image.
            </div>
        <div class="form-group d-flex justify-content-end">
            <button type="button" class="submit_new_ticket_btn" (click)="updateContact()">Submit</button>
            <button class="cancel_new_ticket_btn" (click)="activeModal.dismiss('Cross click')">Cancel</button>
        </div>
    </form>
</section>