<section class="new_ticket_container container mt-3 mb-3" style="background-color: #fff;">
    <form class="form-control d-flex flex-column justify-content-center new_ticket_form w-100 border-0">
        <h4 class="mb-2 mt-2">New Ticket</h4>
        <div class="form-group d-flex flex-column">
            <label for="ticketName">Subject <span class="text-danger">(*)</span></label>
            <input type="text" name="ticketName" class="new_ticket_form__input w-75" [(ngModel)]="ticketName">
        </div>
        <!-- <div class="form-group d-flex flex-column">
            <label for="nameRequester">Requester <span class="text-danger">(*)</span></label>
            <input type="text" name="nameRequester" class="new_ticket_form__input w-75" [(ngModel)]="nameRequester">
        </div> -->
        <div class="form-group d-flex flex-column">
            <label for="description">Description<span class="text-danger">(*)</span></label>
            <textarea type="text" name="description" class="new_ticket_form__input w-75" [(ngModel)]="description" cols="30" rows="10" style="resize: none;"></textarea>
        </div>
        <div class="form-group d-flex flex-column">
            <label for="status">Status <span class="text-danger">(*)</span></label>
            <select name="status" class="new_ticket_form__input w-75" [(ngModel)]="status">
                <option value="New">New</option>
                <option value="In-progress">In-progress</option>
                <option value="Done">Done</option>
            </select>
        </div> 
        <div class="form-group d-flex flex-column">
            <label for="priority">Priority <span class="text-danger">(*)</span></label>
            <select name="priority" class="new_ticket_form__input w-75" [(ngModel)]="priority">
                <option value="Low">Low</option>
                <option value="Medium">Medium</option>
                <option value="High">High</option>
            </select>
        </div>
        <div class="form-group d-flex flex-column">
            <label for="assignedToUserId">Assigned to <span class="text-danger">(*)</span></label>
            <select name="assignedToUserId" class="new_ticket_form__input w-75" [(ngModel)]="assignedToUserId">
              <option *ngFor="let contact of contacts" [value]="contact.id">{{ contact.firstName + " " + contact.lastName }}</option>
            </select>
        </div>
        <div class="form-group d-flex justify-content-start">
            <button type="button" class="submit_new_ticket_btn" (click)="addTicket()">Save</button>
            <button type="button" class="cancel_new_ticket_btn" (click)="backToPreviousPage()">Cancel</button>
        </div>
    </form>
</section>