<div class="calendar_container" style="height: 100vh;">   
    <button type="button" (click)="AddEvent()" >+ Add Event</button>
    <iframe src="https://calendar.google.com/calendar/embed?src=6da15f558f43f88903b34d6469bdfcd36d12f0fbc42570b178ed74ae99123422%40group.calendar.google.com&ctz=Asia%2FHo_Chi_Minh"
    style="border: 0; width: 100%;height: 100%;" frameborder="0" scrolling="no" (load)="onIframeLoad()"></iframe>
</div>

<!-- <iframe src="https://embed.styledcalendar.com/#GUzpobkoHX5fevSVCMAT" title="Styled Calendar" class="styled-calendar-container" style="width: 100%; border: none; height: 100%;" data-cy="calendar-embed-iframe"></iframe>
<script async type="module" src="https://embed.styledcalendar.com/assets/parent-window.js"></script> -->

