<section class="new_ticket_container container mt-3 mb-3" style="background-color: #fff;">
    <form class="form-control d-flex flex-column justify-content-center new_ticket_form w-100 border-0">
        <h4 class="mb-2 mt-2">Send new email</h4>
        <div class="form-group d-flex flex-column">
            <label for="sendToEmail">Send to email<span class="text-danger">(*)</span></label>
            <input type="text" name="sendToEmail" class="new_ticket_form__input w-75" [(ngModel)]="sendToEmail">
        </div>
        <div class="form-group d-flex flex-column">
            <label for="title">Title <span class="text-danger">(*)</span></label>
            <input type="text" name="title" class="new_ticket_form__input w-75" [(ngModel)]="title">
        </div>
        <div class="form-group d-flex flex-column">
            <label for="comment">Body <span class="text-danger">(*)</span></label>
            <textarea type="text" name="comment" class="new_ticket_form__input w-75" [(ngModel)]="comment" cols="30" rows="10" style="resize: none;"></textarea>
        </div>
        <div class="form-group d-flex justify-content-start">
            <button type="button" class="submit_new_ticket_btn" (click)="addActivity()">Send</button>
            <button type="button" class="cancel_new_ticket_btn" (click)="backToPreviousPage()">Cancel</button>
        </div>
    </form>
</section>